  <!-- navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/mystovetop">My Stovetop</a>
                <a class="dropdown-item" href="/home">Find Recipes</a>
                <a class="dropdown-item" href="/addrecipe">Add Recipes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout"><strong>Logout</strong></a>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->

    <!-- start of main container -->
    <div class="container" id="search-container">
        <div class="row" id="search-row">
            <div class="col-md-4 text-center">
                <img src="images/transparent-logo.png" alt="stovetop logo" id="search-page-logo-img">
                <p id="slogan">Delicious family secrets, revealed.</p>
                <form class="form food-search">
                    <input class="form-control mr-sm-2 food-input homepage-search" id="search-query" type="search" placeholder="Find Recipes" aria-label="Search">
                    <button class="btn btn-danger my-2 my-sm-0" type="button" id="search-btn">Get Cookin'</button>
                </form>
            </div>
        </div>
    </div>
    {{!-- <script>


        $(()=>{
            swal("Use our search box to search for the recipe of your choice.");
        })
    </script> --}}

    
  
    