<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
  </div>
</nav>

<div class="container" id="search-container">
  <div class="row" id="search-row">
    <div class="col-md-4 text-center">
      <img src="images/transparent-logo-white.png" alt="stovetop logo" id="search-page-logo-img">

      <form class="login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-danger">Login</button>
      </form>
      <br />
      <p class="login-form-text">Or sign up <a href="/signup">here</a></p>
    </div>
  </div>
</div>
<script>
 $(document).ready(function() {
      $("body").addClass("background-tint");
    console.log("test");
    // Getting references to our form and inputs
    var loginForm = $("form.login");
    var emailInput = $("input#email-input");
    var passwordInput = $("input#password-input");
    var sweetBtn = $(".sweet");

    // When the form is submitted, we validate there's an email and password entered
    loginForm.on("submit", function(event) {
        event.preventDefault();
        
        var userData = {
            email: emailInput.val().trim(),
            password: passwordInput.val().trim()
        };

        if (!userData.email || !userData.password) {
          swal({
              title:"Authentication Error",
              text:`Your credentials could not be authenticated, please try again`,
              icon:"warning"
          });
            return;
        }

        // If we have an email and password we run the loginUser function and clear the form
        loginUser(userData.email, userData.password);
        emailInput.val("");
        passwordInput.val("");
    });

    // loginUser does a post to our "api/login" route and if successful, redirects us the the members page
    function loginUser(email, password) {
        $.post("/api/login", {
                email: email,
                password: password
            })
            .then(function() {
                console.log('log in');
                // If there's an error, log the error
            })
            .catch(function(err) {
                console.log('Cannot log in');
                console.log(err);
            });
    }
    

    // swal({
    //   title: "Are you sure?",
    //   text: "Are you sure that you want to leave this page?",
    //   icon: "warning",
    //   dangerMode: true,
    // })
    // .then(willDelete => {
    //   if (willDelete) {
    //     swal("Deleted!", "Your imaginary file has been deleted!", "success");
    //   }
    // });

});
</script>
 <script type="text/javascript" src="../public/js/login.js"></script>
