form.signup,
form.login {
    margin-top: 50px;
}

.navbar {
    background-color: white;
}

.fa-user-circle:before{
    font-size: 30px;
}

.fa-user-circle{
    float: right;
}

.btn-danger{
    background-color:#ff0101;
}

#homepage-search {
    margin: 20px 0 8px;
}

.food-input{
    border: black solid 1px;
}

#search-row{
    justify-content: center;
    justify-items: center;
   }

#search-page-logo-img{
    height: 40px;
    margin-bottom: 19px;
}

.col-md-4{
    margin-top: 100px;
}


body {
    background: #d9d9d9;
}